* {
   font:  16px/1.4 "myriad-pro-1","myriad-pro-2","Lucida Grande",Sans-Serif;
   color: #333333;
}

html {
   background-image: url('../im/bglines.png');
}

body, html {
   margin:0;
   padding:0;
}

h1 {
   font-size: 50px;
}

h2 {
   font: italic 21px Baskerville,Georgia,Serif;
   color: #F3A01E;
}

input {
   background-color: #B6D3F4;
   background-image: -moz-linear-gradient(top , #B6D3F4, #5483B8);
   background-image: -webkit-linear-gradient(top , #B6D3F4, #5483B8);
   border: 1px solid #9AC9FF;
   border-radius: 18px 18px 18px 18px;
   box-shadow: 0 1px 1px #FFFFFF inset, 0 3px 3px rgba(0, 0, 0, 0.6);
   font: 600 15px/1.4 "myriad-pro-1","myriad-pro-2","Lucida Grande",Sans-Serif;
   color: white;
   padding: 7px 15px;
   margin-bottom: 10px;
   margin-right: 5px;
}

input:hover {
   border: 1px solid #F3A01E;
}

#wrapper {
   max-width: 800px;
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
   background: white;
   margin: 0;
   margin-left: auto;
   margin-right: auto;
   margin-top: 12px;
   margin-bottom: 12px;
   padding: 0;
   padding-top: 5px;
   padding-left: 22px;
   padding-right: 22px;
   min-height: 800px;
}
.note {   
   font-size: 14px;
   color: grey;
}

b {
   font-weight: bold;
}
code {

   font-family: monospace;

   
}